@page "/Mcp"
<h3>Try the Select Winner as MCP</h3>

In order to draw the Winner via AI you can use the following MCP Server 🤖

<br />
<br />

<div style="font-weight: bold">MCP URL</div>
<code style="color: darkblue; font-size: 14px">https://anugtoolsbackend.azurewebsites.net/runtime/webhooks/mcp/sse?Code=Tools</code>

<br/><br/>
<div style="font-weight: bold">Full Sample (mcp.json)</div>
<code style="color: darkblue; font-size: 14px">
<pre>
{
    "servers": {
        "AnugWinner": {
            "url": "https://anugtoolsbackend.azurewebsites.net/runtime/webhooks/mcp/sse?Code=Tools"
        }
    }
}
</pre>

</code>

<br />
<br />
<div style="font-weight: bold">Prompt for your Favorite MCP Enabled AI</div>
<code style="color: darkblue; font-size: 14px">Draw Anug Winner</code>