@page "/Resources"
<h3>Resources from Previous Anug Talks and Workshops</h3>

<h5><a href="https://www.meetup.com/anugdk/events/307656690" target="_blank">Advanced Git (June 2025)</a> <span style="font-size: 12px">[Speaker: Allan Kim Eriksen]</span></h5>
<ul>
    <li><a href="https://github.com/rwjdk/AnugTools/raw/refs/heads/main/Slides/Advanced_Git.pptx" target="_blank">Slides</a></li>
    <li><a href="https://www.scootersoftware.com/" target="_blank">Beyond Compare</a></li>
</ul>
<h5><a href="https://www.meetup.com/anugdk/events/305752174" target="_blank">ANUG AI Workshop / Hackathon (Feb 2025)</a> <span style="font-size: 12px">[Speakers: Rasmus Wulff Jensen & Henrik Lykke Nielsen]</span></h5>
<ul>
    <li><a href="https://github.com/rwjdk/AnugAiHackathon2025" target="_blank">Code Repo</a></li>
    <li><a href="https://1drv.ms/p/s!AkItAZiaMtwzkLsoohjX5eUy3XsUSw" target="_blank">Slides</a></li>
    <li><a href="https://youtu.be/7xTGNNLPyMI?si=hTaqeShq9t8tPnOu " target="_blank">How ChatGpt works</a></li>
</ul>
<h5><a href="https://www.meetup.com/anugdk/events/304079876" target="_blank">AI Talk (Nov. 2024)</a> <span style="font-size: 12px">[Speaker: Rasmus Wulff Jensen]</span></h5>
<ul>
    <li><a href="https://github.com/rwjdk/AiTalk2024" target="_blank">Code Repo</a></li>
    <li><a href="https://1drv.ms/p/s!AkItAZiaMtwzkLQYEc9BPDvS7wgk6g?e=Qp8RPS" target="_blank">Slides</a></li>
    <li><a href="https://youtube.com/playlist?list=PLhGl0l5La4sY45pAGF8jcAI6Jxh0-6fBO&si=2ndiisHmLM18eVLY" target="_blank">Video version of the Talk</a></li>
</ul>

<h5><a href="https://www.meetup.com/anugdk/events/300170397" target="_blank">The why, the what and the how of Resilient Code (May 2024)</a> <span style="font-size: 12px">[Speaker: Thomas S. Sylvest]</span></h5>
<ul>
    <li><a href="https://we.tl/t-dJS86ri3EO" target="_blank">Slides</a></li>
</ul>

<h5><a href="https://www.meetup.com/anugdk/events/298085952" target="_blank">OpenID Connect and NemLog-in (Jan 2024)</a> <span style="font-size: 12px">[Speaker: Anders Revsgaard]</span></h5>
<ul>
    <li><a href="https://github.com/ITfoxtec/CodeShare/tree/master/ANUG/OidcAndNemLogin" target="_blank">Repo + Slides</a></li>
</ul>


<h5><a href="https://www.meetup.com/anugdk/events/296055558" target="_blank">Visual Studio Tips & Tricks (Oct. 2023)</a> <span style="font-size: 12px">[Speaker: Rasmus Wulff Jensen]</span></h5>
<ul>
    <li><a href="https://github.com/rwjdk/AnugVisualStudioTips" target="_blank">Code Repo</a></li>
    <li><a href="https://1drv.ms/p/s" target="_blank">Slides</a></li>
</ul>


<h5><a href="https://www.meetup.com/anugdk/events/293275633" target="_blank">Blazor Workshop (May 2023)</a> <span style="font-size: 12px">[Speakers: Rasmus Wulff Jensen & Kristoffer Strube]</span></h5>
<ul>
    <li><a href="https://github.com/rwjdk/BlazorAnugWorkshop" target="_blank">Repo + Slides</a></li>
</ul>

<h5><a href="https://www.meetup.com/anugdk/events/291489974" target="_blank">EF Core with Erik Ejlskov Jensen (Feb 2023)</a> <span style="font-size: 12px">[Speaker: Erik Ejlskov]</span></h5>
<ul>
    <li><a href="https://1drv.ms/p/s!AitHcOtLnuVHi94FrkKPpxnzmT8zSQ?e=NgRg7s" target="_blank">Slides</a></li>
</ul>


<h5><a href="https://www.meetup.com/anugdk/events/290281900" target="_blank">Effective testing in microservice systems (Jan 2023)</a> <span style="font-size: 12px">[Speaker: Christian Horsdal G.]</span></h5>
<ul>
    <li><a href="https://www.horsdal-consult.dk/2022/12/effective-testing-in-microservice.html" target="_blank">Slides</a></li>
</ul>


<h5><a href="https://www.meetup.com/anugdk/events/288727669" target="_blank">.NET/C# Performance++ // Pushing the limits (Nov 2022)</a> <span style="font-size: 12px">[Speaker: Ronnie Balle]</span></h5>
<ul>
    <li><a href="https://drive.google.com/file/d/1WRK4IS_y3uCy3YfaHhgGNKMYL-JzKht7/view?usp=drivesdk" target="_blank">Slides</a></li>
</ul>


<h5><a href="https://www.meetup.com/anugdk/events/288325238" target="_blank">Blazor: Creating Web Apps without writing JavaScript (Oct. 2022)</a> <span style="font-size: 12px">[Speaker: Kristoffer Strube]</span></h5>
<ul>
    <li><a href="https://kristoffer-strube.dk/Slides/ANUG.pptx" target="_blank">Slides</a></li>
</ul>