@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.meetup.com/anugdk/" target="_blank">About ANUG</a>
            <a href="https://github.com/rwjdk/AnugTools" target="_blank">Source Code on GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
